<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/zepto.min.js"></script>
  </head>
  <body>
    <ul id="list">
    </ul>
    <script src="/javascripts/jump.js"></script>
  </body>
</html>
