<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/zepto.min.js"></script>
  </head>
  <body>
    <div id="canvas"></div>
    <script src="/javascripts/jump-test.js"></script>
    <script src="/javascripts/test.js"></script>
  </body>
</html>
