body {
    margin: 0;
    padding: 0;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: #00b7ff;
}
#list li {
    display: flex;
    align-items: center;
    justify-content: center;
}
li img{
    width: 720px;
}
.point {
    background: red;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
}
